.user-card {
    width: 400px;
}
.goBackButton {
    color: white;
    position: fixed;
    left: 80px;
    top: 20px;
}
@media (max-width: 768px) {
    .user-card {
        width: 75%;
    }
    .goBackButton {
        left: 20px;
        top: 80px;
    }
}