.burgerHeader {
    margin: 20px 17px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.burgerHeader-item {
    margin: 0 3px;
}
.burgerHeader-item svg {
    cursor: default;
}
.burgerNav {
    margin: 20px;
}
.burgerNav p {
    cursor: pointer;
}